// https://www.youtube.com/watch?v=yc8L7llaYKo e https://www.npmjs.com/package/@react-google-maps/api e https://www.youtube.com/watch?v=ZFge8WrnWHo e https://hackernoon.com/pt/como-obter-a-localização-de-um-usuário-em-reactjs-um-guia-prático e https://www.youtube.com/watch?v=WZOwp9HkUV8 e https://tomchentw.github.io/react-google-maps/#standalonesearchbox e https://www.npmjs.com/package/@react-google-maps/api

// Places API e Maps JavaScript API e Geometry, Directions API e Routes API  em uma so chave
VITE_GOOGLE_CLOUD_MAPS_CUPCAKES_API_KEY = 123

// https://dashboard.stripe.com/test/apikeys dados de teste
VITE_STRIPE_CUPCAKES_API_PUBLIC_KEY = pk_test_xxx

VITE_STRIPE_CUPCAKES_API_PRIVATE_KEY = sk_test_xxx
