// https://www.youtube.com/watch?v=yc8L7llaYKo e https://www.npmjs.com/package/@react-google-maps/api e https://www.youtube.com/watch?v=ZFge8WrnWHo e https://hackernoon.com/pt/como-obter-a-localização-de-um-usuário-em-reactjs-um-guia-prático
VITE_GOOGLE_CLOUD_MAPS_CUPCAKES_API_KEY = 123